:root {
  --brand-color: #adff2f;
  --control-color: #282828;
  --aside-color: #000;
  --bg-color: #141922;

  --text-low-contrast: #a3a3a3;
  --text-high-contrast: #ffffff;
}

img {
  width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: var(--text-high-contrast);
}

/*#region Reusable components*****/

/*#region Section*****/
section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    order: -1
}

.section-comment ~ .section-title {
    margin-bottom: 0.8rem ;
}

.section-comment {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-low-contrast);
    padding-bottom: 2.5rem; 

}
/*#endregion Section*****/

/*#region Article*****/


article {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  margin: 5px;
  width: calc(100% / 6);
  max-width: 200px;

}

.article-title {
  padding-top: 0.5rem;
  font-weight: bold;
  flex-shrink: 0;
}

.article-artist {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--text-low-contrast);
  padding-top: 0.5rem;
  flex-shrink: 0;
}

.article-img {
  width: 100%;
}

.article-img.circle >img{
    border-radius: 50%;
}
/*#endregion Article*****/


/*#endregion Reusable components*****/

.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid > div {
  height: 100%;
}

/*#region header*****/
header {
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  position: fixed;
}
/*#endregion header*****/

.main-container {
  height: 91vh;
  background-color: var(--bg-color);
  overflow: auto;
}

/*#region main*****/
main {
  padding: 2rem;
  padding-top: 10vh;
  width: 100%;
}

nav {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text-low-contrast);
}

/*#endregion main*****/

/*#region aside*****/
aside {
 flex-shrink: 0;
  width: 200px;
  height: 100%;
  background-color: var(--aside-color);
}
/*#endregion aside*****/

/*#region footer*****/
footer {
  height: 10vh;
  background-color: var(--control-color);
}
/*#endregion footer*****/
